{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row main dashboard">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<div class="categories">
				<h2>Categories</h2>
				{% for category in categories %}
				<a href = "{{url_for('showCategory', category_name = category.name)}}">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 category-list">
								<h3>{{category.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-5">
			{% if loggedIn %}
			<a href="{{url_for('newItem')}}">
			  
				<button class="btn btn-default btn-add" id="new-item">
					Add Item
				</button>
			</a>
			
			{% endif %}
			<h2>{{title}}</h2>
			{% for item in items %}
			<a href = "{{url_for('showItem', category_name = item.category.name, item_id = item.id)}}">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 item-list">
							<h3>{{item.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
			{% endfor %}
		</div>
		<div class="col-md-1"></div>
	</div>
	
	
	
	
{% endblock %}
